@import 'ui-framework/ui';

.container {
    :global {
        .pools {
            display: flex;
            @include media-breakpoint-down(md) {
                flex-direction: column;
            }
            .pool {
                width: 300px;
                min-height: 300px;
                border: 1px solid $dark;
                background-color: #fff;
                border-radius: 3px;
                margin-right: 1rem;
                @include media-breakpoint-down(md) {
                    margin-right: 0;
                    margin-top: 1rem;
                }
                &:hover {
                    @include _shadow_2();
                }
                @include media-breakpoint-down(md) {
                    width: auto;
                    min-height: auto;
                }
                .pool-header {
                    display: flex;
                    background-color: $dark;
                    align-items: center;
                    color: #fff;
                    padding: 0.5rem;
                    img {
                        width: 40px;
                    }
                    h6 {
                        margin-bottom: 0;
                    }
                }
                .pool-info {
                    padding: 1rem;
                    a {
                        color: $dark;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
