@import 'ui-framework/ui';

.container {
    :global {
        .pool {
            width: 300px;
            min-height: 300px;
            border: 1px solid $dark;
            background-color: #fff;
            border-radius: 3px;
            &:hover {
                @include _shadow_2();
            }
            @include media-breakpoint-down(md) {
                width: 250px;
                min-height: 250px;
            }
            .pool-header {
                display: flex;
                background-color: $dark;
                align-items: center;
                color: #fff;
                padding: 0.5rem;
                img {
                    width: 40px;
                }
                h6 {
                    margin-bottom: 0;
                }
            }
            .pool-info {
                padding: 1rem;
                a {
                    color: $dark;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
