@import 'ui-framework/ui';

.container {
    display: flex;
    align-items: center;
    height: $header-height;
    overflow: hidden;
    @include _shadow_1();

    :global {
        a {
            color: $dark;
            &:hover {
                color: $dark;
                text-decoration: none;
            }
        }
        .logo-wrapper {
            padding: 0 2rem;
            img {
                width: 50px;
                margin-right: 0.5rem;
            }
        }
        .menu {
            margin-right: 0.5rem;
            padding: 2rem;
            &.active {
                background-color: $dark;
                color: #fff;
            }
        }
    }
}
