@import 'ui-framework/ui';

.container {
    display: flex;
    align-items: center;
    height: $header-height;
    overflow: hidden;
    @include _shadow_1();
    padding: 0 2rem;

    @include media-breakpoint-down(md) {
        padding: 0 1rem;
    }

    :global {
        a {
            color: $dark;
            &:hover {
                color: $dark;
                text-decoration: none;
            }
        }
        .logo-wrapper {
            img {
                width: 50px;
                margin-right: 0.5rem;
            }
            @include media-breakpoint-down(md) {
                img {
                    width: 40px;
                }
            }
        }
        .menu {
            padding: 2rem;
            &.active {
                background-color: $dark;
                color: #fff;
            }
            &:not(:last-child) {
                margin-right: 0.5rem;
            }
            @include media-breakpoint-down(md) {
                padding: 2rem 0.5rem;
            }
        }
    }
}
